## ignore nextflow files produced by nextflow execution

## mouse
mouse-pergola-reproduce/work/*
mouse-pergola-reproduce/files/*.*

## celegans
celegans-pergola-reproduce/work/*

## melanogaster
melanogaster-pergola-reproduce

# example delete
# */temp*
#    */*/temp*
#    temp?
#  celegans