manifest {
    mainScript = 'N2_vs_unc16_motions-Pergola-Reproduce.nf'
}

params { 
  output = "files/"
} 

process {
    //container = 'pergola/pergola@sha256:6f369ad08c198db988fd76c670457d86da534dea5270b7d5b0413179de751ebe'
//sha256:829984c62ac8d8d129240f3db3e5de26be2379c4a6c76d871381101ad122569a  //pergola/pergola:paper
//sha256:6d032d23fd90317ee3ac564497b1fd7f204ffc641ee009b937846fe7c959834f  //pergola/pergola:paper_fps
    container = 'pergola/pergola@sha256:6d032d23fd90317ee3ac564497b1fd7f204ffc641ee009b937846fe7c959834f'
    //publishDir = [path: {params.output}, mode: 'copy', overwrite: 'true']
} 

//process.$plot_distro.container = 'joseespinosa/docker-r-ggplot2:v0.1'
//process.$heat_and_density_plot.container = 'pergola/shiny-pergola:0.1'
//process.$feature_to_pergola.container = 'joseespinosa/pergola:unc16_gviz.v0.4' //sha256//:6d50ffd8a0a2575b16561e9bae78c971c7a4354fd23db39fd63d7ac97408b2ab
profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
		 scratch = true
        }
    }
}
