manifest {
    mainScript = 'N2_vs_unc16_motions-Pergola-Reproduce.nf'
}

params { 
  output = "files/"
} 

process {
  //sha256:829984c62ac8d8d129240f3db3e5de26be2379c4a6c76d871381101ad122569a  //pergola/pergola:paper
  //sha256:6d032d23fd90317ee3ac564497b1fd7f204ffc641ee009b937846fe7c959834f  //pergola/pergola:paper_fps
  //container = 'pergola/pergola@sha256:829984c62ac8d8d129240f3db3e5de26be2379c4a6c76d871381101ad122569a'
  container = 'pergola/pergola@sha256:8a52116be9bd371ae9bed9c0b36a8fc14634a7e14bbc764cc93905d8566e0939' // pergola:paper with ggrepel
  publishDir = [path: {params.output}, mode: 'copy', overwrite: 'true']

} 

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
		 scratch = true
        }
    }
}
