manifest {
    mainScript = 'melanogaster_GAL4-Pergola-Reproduce.nf'
}

params { 
  output = "results/"
} 

process {
    publishDir = [path: {params.output}, mode: 'copy', overwrite: 'true']
    //container = 'pergola/pergola@sha256:829984c62ac8d8d129240f3db3e5de26be2379c4a6c76d871381101ad122569a'
    //container = 'pergola/pergola@sha256:0909ecdf06735e56a4949a6ec2e173f14781b0704555964951e6f3c4cd1529fe' // pergola:paper no gtools gutils
    container = 'pergola/pergola@sha256:358a0e9498abdf373f7d26e8b9e46b44a26270d8993820047bd71ad21e971606 //pergola:paper
}

profiles {
    crg {
		process {
  			executor = 'crg'
  			queue = 'cn-el7'
  			memory='16G'
            cpus='12'
			scratch = true
		}
		docker.enabled = true
  	}
}
