manifest {
    mainScript = 'melanogaster_GAL4-Pergola-Reproduce.nf'
}

params { 
  output = "results/"
} 

process {
    publishDir = [path: {params.output}, mode: 'copy', overwrite: 'true']
    //container = 'pergola/pergola@sha256:829984c62ac8d8d129240f3db3e5de26be2379c4a6c76d871381101ad122569a'
    //container = 'pergola/pergola@sha256:0909ecdf06735e56a4949a6ec2e173f14781b0704555964951e6f3c4cd1529fe' // pergola:paper no gtools gutils
    //container = 'pergola/pergola@sha256:8750a3bb4a57a8688c9b3695e39718279029af6cfdaa86e3dcb1cdf9ad09610f' //pergola:paper with gtools
  container = 'pergola/pergola@sha256:8a52116be9bd371ae9bed9c0b36a8fc14634a7e14bbc764cc93905d8566e0939' // pergola:paper with ggrepel
}

profiles {
    crg {
		process {
  			executor = 'crg'
  			queue = 'cn-el7'
  			memory='16G'
            cpus='12'
			scratch = true
		}
		docker.enabled = true
  	}
}
