manifest {
    mainScript = 'CB1_mice-Pergola-Reproduce.nf'
}

params { 
  output = "files/"
} 

process {
    //container = 'pergola/pergola@sha256:6f369ad08c198db988fd76c670457d86da534dea5270b7d5b0413179de751ebe'
    container = 'pergola/pergola@sha256:829984c62ac8d8d129240f3db3e5de26be2379c4a6c76d871381101ad122569a'  //pergola/pergola:paper
    publishDir = [path: {params.output}, mode: 'copy', overwrite: 'true']
} 

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
		 scratch = true
        }
    }
}
